body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: arial,sans-serif;
    font-size: 14px;
}

a {
    color: #000;
    text-decoration: none;
}

nav {
    padding: 0 30px;
    font-size: 13px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul a {
    margin-right: 10px;
}

nav ul a:hover {
    text-decoration: underline;
    opacity: .85;
}

nav ul a:last-child {
    margin-right: 0;
}

.container {
    margin-left: 162px;
}

.top_menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.top_menu_logo {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background: url(../img/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
}

.logo img {
    width: 100%;
}

.input_block {
    display: flex;
    width: 500px;
    height: 44px;
    padding: 0 8px 0 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.input_block:active, .input_block:hover, .input_block:focus {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search_logo {
    display: flex;
    align-items: center;
}

.search_logo svg {
    height: 20px;
}

.search_input {
    flex: 1;
    padding: 2px;
}

.search_input input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
}

.search_input input:focus {
    outline: none;
}

.search_key {
    flex: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.key_logo {
    background: url("../img/tia.png") 0 0 no-repeat;
    background-size: 24px;
    width: 24px;
    height: 14px;
}

.search_voice {
    flex: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.voice_logo {
    background: url("../img/voice.png") 0 0 no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.ost_button {
    margin-top: 16px;
}

.g_button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    font-size: 14px;
}

.g_button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.g_button:focus {
    outline: none;
    border: 1px solid #4d90fe;
}

footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.location {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 30px;
    border-bottom: 1px solid #e4e4e4;
    color: rgba(0,0,0,.54);
}

.work_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.work_link ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.work_link ul a {
    margin-left: 30px;
    color: #5f6368;
}

.work_link_right {
    margin-right: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Search*/
.s_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    height: 80px;
}

.s_top_left_block {
    display: flex;
    align-items: center;
}

.s_header .logo {
    width: 92px;
    height: 30px;
    margin-right: 40px;
}

.search_menu {
    border-bottom:1px solid #ebebeb;
}

.search_menu .container {
    display: flex;
}

.search_menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search_menu ul a {
    font-size: 13px;
    padding: 10px;
    color: #5f6368;
}

.search_menu ul a.active {
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
}


.search_menu ul li {
    display: flex;
}

.search_menu ul li svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.content.s_cont {
    align-items: baseline;
}

.nubmer_result {
    display: flex;
    height: 43px;
    align-items: center;
}

.result_item {
    max-width: 580px;
    margin: 20px 0;
}


.result_item_link a {
    font-size: 14px;
    color: #3C4043;
}

.result_item_title {
    margin: 10px 0;
}

.result_item_title a {
    color: #1a0dab;
    font-size: 20px;
}

.result_item_desc {
    font-size: 14px;
    color: #3C4043;
}

/*.page_nav_f_item span{
    background: url(../img/nav_logo.webp) no-repeat;
    background-position: -24px 0;
    width: 28px;
}

page_nav_item span {
    background: url(../img/nav_logo.webp) no-repeat;
    background-position: -53px 0;
    width: 20px;
}*/

footer.search_footer {
    position: relative;
}